
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: #eceeef;
  // background: #1c1c1c; /* Old browsers */
  // background: -moz-linear-gradient(45deg, #1c1c1c 0%, #2d2d2d 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(45deg, #1c1c1c 0%,#2d2d2d 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(45deg, #1c1c1c 0%,#2d2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#2d2d2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
  width: 100%;
}

main,#app {
  min-height: 100vh;
}

.sniddl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  height: 50px;
}
.has-nav {
  padding-top: 50px !important;
}
.search {
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
}
.site-title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: -0.2rem;
  font-style: italic;
  color: white;
}

.nav-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #505050;
    border: 1px solid #505050;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
      background: #505050;
      text-decoration: none;
      color: white;
    }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


footer {
  background: white;
}


.ql-clipboard {display: none !important;}
.ql-editor {outline: none !important;}


.render-html {
  h1,h2,h3,h4,h5,h6 { text-align: center }
  p, .embeded {
    margin-bottom: 3rem;
  }
  p{
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    word-break: break-all;
    hyphens: auto;
  }
  .ql-size-small {
    font-size: 0.75em;
  }
  .ql-size-large {
    font-size: 1.2em;
  }
  .ql-size-huge {
    font-size: 1.7em;
  }
  @function list($x) {
    $result: ();
      @for $j from $x through 8 {
        $result: append($result, list-#{$j + 1});
      }
    @return $result;
  }

  li {
      counter-reset: list(0);
      counter-increment: list-0;
      list-style-type: none;
  }
  ol li {
    &:before {
      content: counter(list-0, decimal) '. '
    }
  }
  ul li {
    &:before {
      content: counter(list-0, disc) ' '
    }
  }

  $ols: decimal lower-alpha lower-roman;
  $uls: disc circle square;
  @for $i from 1 through 8 {
      .ql-indent-#{$i} {
        margin-left: 3em * $i;
        counter-reset: list($i);
        counter-increment: list-#{$i};
      }
      ol .ql-indent-#{$i} {
        &:before {
          content: counter(list-#{$i}, nth($ols, ($i % 3) + 1)) '. '
        }
      }
      ul .ql-indent-#{$i} {
        &:before {
          content: counter(list-#{$i}, nth($uls, ($i % 3) + 1)) '. '
        }
      }
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &[aria-expanded=true] i:before {
    content: "\f078"
  }
}

.nav-icon .fa-layers-counter {
  top: 0.3rem;
  right: 0.3rem;
  font-size: 2.3em;
}
